/*This is the Android Logo Stylesheet*/
/*Color: #A4C639*/

div{
	margin: 0;
	padding: 0;
}

div div {
	background: #A4C639; 
	position: relative; 
}

.android{
	height: 404px;
	width: 334px;
	margin: 100px auto; 
}

.head{
	height: 100px; 
	width: 220px;
	top: 32px;
	border-radius: 110px 110px 0px 0px; 
}

.l_eye,.r_eye{
	background: #fff;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 42px; 
	border-radius: 10px; 
	-webkit-border-radius: 10px; 
}

.l_eye{
	left: 50px;
}

.r_eye{
	right: 50px;
}

.l_ant, .r_ant{
	height: 50px; 
	width: 6px;
	position: absolute; 
	top: -34px;
	-webkit-border-radius: 3px; 
}

.l_ant{
	left: 50px;
	-webkit-transform: rotate(-30deg);
}

.r_ant{
	right: 50px;
	-webkit-transform: rotate(30deg);
}

.body{
	height: 220px;
	width: 220px;
	top: 32px; 
	margin-top: 10px; 
	border-radius: 0px 0px 35px 35px;	
}

.l_arm{
	left: -70px; 
}

.r_arm{
	right: -70px;
}

.l_arm, .r_arm{
	height: 160px;
	width: 60px;
	top: 0px; 
	position: absolute;
	border-radius: 50px;
}

.l_leg{
	left: 40px; 
}

.r_leg{
	right: 40px; 
}

.l_leg, .r_leg{
	height: 160px;
	width: 50px;
	position: absolute; 
	top: 140px;
	border-radius: 50px; 
}